In [1]:
import pandas as pd

data_path = "./data/export.csv"

In [2]:
data = pd.read_csv(data_path)
data.drop(columns=["Unnamed: 0"], inplace=True)
data

                                          smiles property  value
0                                    [*]CC([*])C      Eat  -5.14
1                                    [*]CC([*])F      Eat  -5.18
2                                 [*]CC([*])(F)F      Eat  -5.21
3                              [*]C(F)C([*])(F)F      Eat  -5.11
4                         [*]CCC(F)(F)C([*])(F)F      Eat  -5.21
...                                          ...      ...    ...
6260  [*]C(F)(F)C(F)(F)C(S1)=CC=C1C(S2)=CC=C2[*]      eps   4.36
6261                  [*]C(F)(F)C(F)(F)C(=O)O[*]      eps   3.31
6262        [*]C(F)(F)C(=O)C(F)(F)C(S1)=CC=C1[*]      eps   4.05
6263      [*]C(F)(F)C(=O)C(F)(F)C(C=C1)=CC=C1[*]      eps   3.57
6264                      [*]C(F)(F)OC(F)(F)O[*]      eps   3.80

[6265 rows x 3 columns]

In [3]:
data2 = data.pivot(index="smiles", columns="property", values="value").reset_index()
data2

property,smiles,Eat,Eea,Egb,Egc,Ei,Xc,eps,nc
0,C(=O)([*])C1=CC=C(C=C1)C(=O)OC1=CC=C(C=C1)C2(C...,NaN,NaN,NaN,3.8358,NaN,NaN,NaN,NaN
1,C(=O)([*])C1=CC=C(C=C1)S(=O)(=O)C1=CC=C(C=C1)C...,NaN,NaN,NaN,3.2146,NaN,NaN,NaN,NaN
2,C(=O)([*])C1=CC=C(C=C1)S(=O)(=O)C1=CC=C(C=C1)C...,NaN,NaN,NaN,3.3925,NaN,NaN,NaN,NaN
3,C13C(C=[*])OC(C=[*])C1C(=O)N(C2=CC=C(C(F)(F)F)...,NaN,NaN,NaN,5.3690,NaN,NaN,NaN,NaN
4,C13C(C=[*])OC(C=[*])C1C(=O)N(C2=CC=CC(C(F)(F)F...,NaN,NaN,NaN,5.0879,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3650,[*]c8ccc(C7(c4ccc(n3c(=O)c2cc1c(=O)n([*])c(=O)...,NaN,NaN,NaN,2.1924,NaN,NaN,NaN,NaN
3651,[*]c8ccc(C7(c5ccc(n4c(=O)c3ccc(Oc2ccc1c(=O)n([...,NaN,NaN,NaN,3.3847,NaN,NaN,NaN,NaN
3652,[*]c9ccc(C8(c5ccc(n4c(=O)c3ccc(C(=O)c2ccc1c(=O...,NaN,NaN,NaN,2.4589,NaN,NaN,NaN,NaN
3653,[*]n1nc(-n2c(=O)c3cc4c(=O)n([*])c(=O)c4cc3c2=O...,NaN,NaN,NaN,2.9967,NaN,NaN,NaN,NaN
3654,c1([*])cc(c2cc1)N=C(N2(C(c2(c3))=O))c1c2c(c4(c...,NaN,NaN,NaN,2.3866,NaN,NaN,NaN,NaN

In [4]:
data2.head()

property,smiles,Eat,Eea,Egb,Egc,Ei,Xc,eps,nc
0,C(=O)([*])C1=CC=C(C=C1)C(=O)OC1=CC=C(C=C1)C2(C...,NaN,NaN,NaN,3.8358,NaN,NaN,NaN,NaN
1,C(=O)([*])C1=CC=C(C=C1)S(=O)(=O)C1=CC=C(C=C1)C...,NaN,NaN,NaN,3.2146,NaN,NaN,NaN,NaN
2,C(=O)([*])C1=CC=C(C=C1)S(=O)(=O)C1=CC=C(C=C1)C...,NaN,NaN,NaN,3.3925,NaN,NaN,NaN,NaN
3,C13C(C=[*])OC(C=[*])C1C(=O)N(C2=CC=C(C(F)(F)F)...,NaN,NaN,NaN,5.3690,NaN,NaN,NaN,NaN
4,C13C(C=[*])OC(C=[*])C1C(=O)N(C2=CC=CC(C(F)(F)F...,NaN,NaN,NaN,5.0879,NaN,NaN,NaN,NaN